{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block content %}
 
<div class="container">
<div class="row align-items center justify-content-center">
<div class="col-md-4">
<h3>Add Functional Area</h3>
<div class="form-group">
 <form method="POST" action="/addFunctionalArea" role="form">
  {{ form.csrf_token }}
     <label for="Functional Area">Functional Area:</label>
  <div class="input-group">
    {{ form.area(placeholder="functional Area") }}
    {% if form.area.errors %}
      <span class="error">
        {% for error in form.area.errors %}
          {{ error }}
        {% endfor %}
      </span>
    {% endif %}
  </div>
   <button class="btn btn-sm btn-success" type="submit">Add new Functional Area</button>
  <br>
</form>
</div>
</div>
</div>
</div>


{% endblock %}