
{% if user.level == 1 %}
{% extends "base_user.html" %}
{% endif %}
{% if user.level == 2 %}
{% extends "base.html" %}
{% endif %}

{% block content %} 
 



<div class="container">
        <h3>Choose Attachment to View</h3>
<table class="table table-bordered">
    <thead>
        <tr>
        <td><b>Report Number</b></td>
        <td><b>File Name</b></td>
        </tr>
    </thead>
    <tbody>
{% for row in results %}
      
    <tr>
        <td>{{ row[0] }}</td>
        <td><a href="{{ url_for('showFile', report=row[0],file=row[1]) }}">{{row[1]}}</a></td>
   
    </tr>
      
{% endfor %}
    </tbody>
</table>
</div>


{% endblock %}


    