{% extends "base.html" %}

{% block content %} 
 



<div class="container">
        <h3>Choose an Employee to Edit</h3>

<table class="table table-bordered">
<tr>
        <td><b>ID</b></td>
        <td><b> Name</b></td>
        <td></td>
    </tr>
{% for row in results %}
      
    <tr>
        <td>{{ row[0] }}</td>
         <td>{{ row[1] }}</td>
         <td>
                <a href="{{ url_for('edit', id=row[0]) }}">Edit</a>
        </td> 
    </tr>
      
{% endfor %}
</table>
</div>


{% endblock %}


    