{% extends "base.html" %}

{% block content %}
 
 <div class="container">
  <h3>View Edit Functional Area {{results[0]}}</h3>
  <form action="" method="post" novalidate>
   {{ form.csrf_token }}
   <label for="FunctionalArea">FunctionalArea:</label>
  <div class="input-group">
    {{ form.area(placeholder="area") }}
    {% if form.area.errors %}
      <span class="error">
        {% for error in form.area.errors %}
          {{ error }}
        {% endfor %}
      </span>
    {% endif %}
  </div>
  
  <input type="submit" name="edit"></input>
  <input type="submit" name="cancel" value="cancel"></input> 
  
  
  <!--<button class="btn btn-sm btn-success" type="submit">Edit Functional Area</button>-->
  <br>
</form>

</div>


{% endblock %}