{% extends "base.html" %}

{% block content %}
 
 <div class="container">
  <h3>View Edit Employee {{results[0]}}</h3>
  <form action="" method="post" novalidate>
   {{ form.csrf_token }}
   <label for="name">Name:</label>
  <div class="input-group">
    {{ form.name(placeholder="name") }}
    {% if form.name.errors %}
      <span class="error">
        {% for error in form.name.errors %}
          {{ error }}
        {% endfor %}
      </span>
    {% endif %}
  </div>
  <br>
  <label for"username">Username:</label>
  <div class="input-group">
    {{ form.username(placeholder="username") }}
    {% if form.username.errors %}
      <span class="error">
        {% for error in form.username.errors %}
          {{ error }}
        {% endfor %}
      </span>
    {% endif %}
  </div>
  <br>
  <label for="password">Password:</label>
  <div class="input-group">
    {{ form.password(placeholder="password") }}
    {% if form.password.errors %}
      <span class="error">
        {% for error in form.password.errors %}
          {{ error }}
        {% endfor %}
      </span>
    {% endif %}
  </div>
  <br>
  <label for="userLevel">User Level:</label>
  <div class="input-group">
    {{ form.userLevel(placeholder="userLevel") }}
    {% if form.userLevel.errors %}
      <span class="error">
        {% for error in form.userLevel.errors %}
          {{ error }}
        {% endfor %}
      </span>
    {% endif %}
  </div>
  <br>
    <label for="functionalArea">Functional Area:</label>
  <div class="input-group">
    {{ form.functionalArea(placeholder="functionalArea") }}
    {% if form.functionalArea.errors %}
      <span class="error">
        {% for error in form.userLevel.errors %}
          {{ error }}
        {% endfor %}
      </span>
    {% endif %}
  </div>
  <br>
    
   <input type="submit" name="edit"></input>
  <input type="submit" name="cancel" value="cancel"></input>  
  
  <!--<button class="btn btn-sm btn-success" type="submit">Edit Employee</button>-->
  <br>
</form>

</div>


{% endblock %}
