{% if user.level == 1 %}
{% extends "base_user.html" %}
{% endif %}
{% if user.level == 2 %}
{% extends "base.html" %}
{% endif %}

{% import 'bootstrap/wtf.html' as wtf %}
{% block content %}

<div class="container">
<div class="row align-items center justify-content-center">
<div class="col-md-4">
<h3>Edit Bug Report {{id}}</h3>

<div class="form-group">
 <form method="POST" action="" role="form">
  {{ form.csrf_token }}
    <table class="table">
        <tbody>
        
        <tr>
            <td>            
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Program</span>
                    </div>
                    {{ form.program(placeholder="program") }}
                    {% if form.program.errors %}
                      <span class="error">
                        {% for error in form.program.errors %}
                          {{ error }}
                        {% endfor %}
                      </span>
                    {% endif %}
                </div>
            </td>
            <td>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Report Type</span>
                    </div>
                    {{ form.reportType(placeholder="reportType") }}
                    {% if form.reportType.errors %}
                      <span class="error">
                        {% for error in form.reportType.errors %}
                          {{ error }}
                        {% endfor %}
                      </span>
                    {% endif %}
                 </div>
            </td>
            <td>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Severity</span>
                    </div>
                    {{ form.severity(placeholder="severity") }}
                    {% if form.severity.errors %}
                      <span class="error">
                        {% for error in form.severity.errors %}
                          {{ error }}
                        {% endfor %}
                      </span>
                    {% endif %}
                  </div>
            </td>     
        </tr>
        <tr>
          <td colspan="2">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">Summary</span>
                </div>
                {{ form.summary(placeholder="summary") }}
                {% if form.summary.errors %}
                  <span class="error">
                    {% for error in form.summary.errors %}
                      {{ error }}
                    {% endfor %}
                  </span>
                {% endif %}
              </div>
        </td> 
            <td>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Reproducable</span>
                    </div>
                   
                   {{ form.reproducable(placeholder="reproducable") }}
                   {% if form.reproducable.errors %}
                      <span class="error">
                      {% for error in form.reproducable.errors %}
                          {{ error }}
                      {% endfor %}
                      </span>
                   {% endif %}
                </div>
            </td>
        </tr>
        <tr>
            <td colspan="3">
                <div class="input-group">
                  <div class="input-group-prepend">
                      <span class="input-group-text">Description</span>
                  </div>
                
                {{ form.description(placeholder="description") }}
                {% if form.description.errors %}
                    <span class="error">
                    {% for error in form.description.errors %}
                        {{ error }}
                    {% endfor %}
                    </span>
                {% endif %}
            </div>
            </td>
        </tr>
        <tr>
            <td colspan="3">
              <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">Suggested Fix - Optional</span>
                </div>
              
              {{ form.suggestedFix(placeholder="suggestedFix") }}
              {% if form.suggestedFix.errors %}
                  <span class="error">
                  {% for error in form.suggestedFix.errors %}
                      {{ error }}
                  {% endfor %}
                  </span>
              {% endif %}
          </div>
            </td>
        </tr>
        <tr>
            <td>
              <div class="input-group">
                   <div class="input-group-prepend">
                        <span class="input-group-text">Reported By</span>
                  </div>
                {{ form.reportedBy(placeholder="Reported By") }}
                {% if form.reportedBy.errors %}
                <span class="error">
                    {% for error in form.reportedBy.errors %}
                      {{ error }}
                    {% endfor %}
                </span>
                {% endif %}
              </div>
            </td>
            <td>
                <div class="input-group">
                  <div class="input-group-prepend">
                        <span class="input-group-text">Discovered Date:</span>
                  </div>
                    {{ form.discoveredDate(placeholder="discoveredDate") }}
                    {% if form.discoveredDate.errors %}
                    <span class="error">
                        {% for error in form.discoveredDate.errors %}
                          {{ error }}
                        {% endfor %}
                    </span>
                    {% endif %}
                </div>
            </td>
            <td>
            </td>
        </tr>
        <tr>
             
            <td>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Assigned To - Optional</span>
                  </div>
                {{ form.assignedTo(placeholder="Assigned To") }}
                {% if form.assignedTo.errors %}
                  <span class="error">
                    {% for error in form.assignedTo.errors %}
                      {{ error }}
                    {% endfor %}
                  </span>
                {% endif %}
                </div>
            </td>
            <td></td>
       
        </tr>
        <tr>
            <td colspan="3">
              <div class="input-group">
                <div class="input-group-prepend">
                      <span class="input-group-text">Comments - Optional</span>
                </div>
                  {{ form.comments(placeholder="comments") }}
                  {% if form.comments.errors %}
                  <span class="error">
                      {% for error in form.comments.errors %}
                        {{ error }}
                      {% endfor %}
                  </span>
                  {% endif %}
              </div>
            </td>
        </tr>
        <tr>
            <td>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">Status - Optional</span>
                </div>
                {{ form.status(placeholder="status") }}
                {% if form.status.errors %}
              <span class="error">
                    {% for error in form.status.errors %}
                      {{ error }}
                    {% endfor %}
              </span>
                {% endif %}
              </div>
            
            </td>
            <td>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">Priority - Optional</span>
                    </div>
                    {{ form.priority(placeholder="priority") }}
                    {% if form.priority.errors %}
                      <span class="error">
                        {% for error in form.priority.errors %}
                          {{ error }}
                        {% endfor %}
                      </span>
                    {% endif %}
                  </div>
            </td>
            <td>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">Resolution - Resolution</span>
                    </div>
                    {{ form.resolution(placeholder="resolution") }}
                    {% if form.resolution.errors %}
                      <span class="error">
                        {% for error in form.resolution.errors %}
                          {{ error }}
                        {% endfor %}
                      </span>
                    {% endif %}
                  </div>
            </td>
        </tr>
        <tr>
            <td>
                  <div class="input-group">
                      <div class="input-group-prepend">
                            <span class="input-group-text">Resolution Version - Optional</span>
                        </div>
                    {{ form.resolutionVersion(placeholder="resolutionVersion") }}
                    {% if form.resolutionVersion.errors %}
                      <span class="error">
                        {% for error in form.resolutionVersion.errors %}
                          {{ error }}
                        {% endfor %}
                      </span>
                    {% endif %}
                  </div>
            </td>
            <td>
                  <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text">Resolved By - Optional</span>
                    </div>
                    {{ form.resolvedBy(placeholder="resolvedBy") }}
                    {% if form.resolvedBy.errors %}
                      <span class="error">
                        {% for error in form.resolvedBy.errors %}
                          {{ error }}
                        {% endfor %}
                      </span>
                    {% endif %}
                  </div>
            </td>
            <td>
                  <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text">Resolved Date - Optional</span>
                    </div>
                    {{ form.resolvedDate(placeholder="resolvedDate") }}
                    {% if form.resolvedDate.errors %}
                      <span class="error">
                        {% for error in form.resolvedDate.errors %}
                          {{ error }}
                        {% endfor %}
                      </span>
                    {% endif %}
                  </div>
            </td>
        </tr>
        <tr>
            <td>
                  <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text">Tested By - Optional</span>
                    </div>
                    {{ form.testedBy(placeholder="testedBy") }}
                    {% if form.testedBy.errors %}
                      <span class="error">
                        {% for error in form.testedBy.errors %}
                          {{ error }}
                        {% endfor %}
                      </span>
                    {% endif %}
                  </div>
            </td>
            <td>
                  <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text">Tested Date - Optional</span>
                    </div>
                    {{ form.testedDate(placeholder="testedDate") }}
                    {% if form.testedDate.errors %}
                      <span class="error">
                        {% for error in form.testedDate.errors %}
                          {{ error }}
                        {% endfor %}
                      </span>
                    {% endif %}
                  </div>
            </td>
            <td>
                 
                  <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text">Defered - Optional</span>
                      </div>
                    {{ form.deferred(placeholder="deferred") }}
                    {% if form.deferred.errors %}
                      <span class="error">
                        {% for error in form.deferred.errors %}
                          {{ error }}
                        {% endfor %}
                      </span>
                    {% endif %}
                  </div>
            </td>
        </tr>
        </tbody>
    </table>

   <input type="submit" name="Submit"></input>
  <input type="reset" name="reset" value="reset"></input> 
   <!--<button class="btn btn-sm btn-success" type="submit">Add New Bug Report</button>-->
  <br>
</form>
</div>
</div>
</div>
</div>
  
{% endblock %}
