{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block content %}

<div class="container">
<div class="row align-items center justify-content-center">
<div class="col-md-4">
<h3>Search bug reports</h3>
<div class="form-group">
 <form method="POST" action="/search/" role="form">
  {{ form.csrf_token }}

  <label for="program">Program:</label>
  <div class="input-group">
    {{ form.program(placeholder="program") }}
    {% if form.program.errors %}
      <span class="error">
        {% for error in form.program.errors %}
          {{ error }}
        {% endfor %}
      </span>
    {% endif %}
  </div>
  <br>

    <label for="reportType">Report Type: </label>
  <div class="input-group">
    {{ form.reportType(placeholder="reportType") }}
    {% if form.reportType.errors %}
      <span class="error">
        {% for error in form.reportType.errors %}
          {{ error }}
        {% endfor %}
      </span>
    {% endif %}
  </div>
  <br>

  	<label for="severity">Severity: </label>
  <div class="input-group">
    {{ form.severity(placeholder="severity") }}
    {% if form.severity.errors %}
      <span class="error">
        {% for error in form.severity.errors %}
          {{ error }}
        {% endfor %}
      </span>
    {% endif %}
  </div>
  <br>

  <label for="functionalArea">Functional Area: </label>
  <div class="input-group">
    {{ form.functionalArea(placeholder="functionalArea") }}
    {% if form.functionalArea.errors %}
      <span class="error">
        {% for error in form.functionalArea.errors %}
          {{ error }}
        {% endfor %}
      </span>
    {% endif %}
  </div>
  <br>

  <label for="assignedTo">Assigned To: </label>
  <div class="input-group">
    {{ form.assignedTo(placeholder="assignedTo") }}
    {% if form.assignedTo.errors %}
      <span class="error">
        {% for error in form.assignedTo.errors %}
          {{ error }}
        {% endfor %}
      </span>
    {% endif %}
  </div>
  <br>

  <label for="status">Status: </label>
  <div class="input-group">
    {{ form.status(placeholder="status") }}
    {% if form.status.errors %}
      <span class="error">
        {% for error in form.status.errors %}
          {{ error }}
        {% endfor %}
      </span>
    {% endif %}
  </div>
  <br>

  <label for="priority">Priority: </label>
  <div class="input-group">
    {{ form.priority(placeholder="priority") }}
    {% if form.priority.errors %}
      <span class="error">
        {% for error in form.priority.errors %}
          {{ error }}
        {% endfor %}
      </span>
    {% endif %}
  </div>
  <br>

  <label for="resolution">Resolution: </label>
  <div class="input-group">
    {{ form.resolution(placeholder="resolution") }}
    {% if form.resolution.errors %}
      <span class="error">
        {% for error in form.resolution.errors %}
          {{ error }}
        {% endfor %}
      </span>
    {% endif %}
  </div>
  <br>  


  <label for="reportedBy">Reported By: </label>
  <div class="input-group">
    {{ form.reportedBy(placeholder="reportedBy") }}
    {% if form.reportedBy.errors %}
      <span class="error">
        {% for error in form.reportedBy.errors %}
          {{ error }}
        {% endfor %}
      </span>
    {% endif %}
  </div>
  <br>

  <label for="discoveredDate">Discovered Date: </label>
  <div class="input-group">
    {{ form.discoveredDate(placeholder="discoveredDate") }}
    {% if form.discoveredDate.errors %}
      <span class="error">
        {% for error in form.discoveredDate.errors %}
          {{ error }}
        {% endfor %}
      </span>
    {% endif %}
  </div>
  <br>

  <label for="resolvedBy">Resolved By: </label>
  <div class="input-group">
    {{ form.resolvedBy(placeholder="resolvedBy") }}
    {% if form.resolvedBy.errors %}
      <span class="error">
        {% for error in form.resolvedBy.errors %}
          {{ error }}
        {% endfor %}
      </span>
    {% endif %}
  </div>
  <br>  

   <button class="btn btn-sm btn-success" type="submit">Search Bug Reports</button>
  <br>
</form>
</div>
</div>
</div>
</div>
  
{% endblock %}
