{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block content %}

<div class="container">
<div class="row align-items center justify-content-center">
<div class="col-md-4">
    <h3>Search Bug Reports</h3>

<div class="form-group">
 <form method="POST" action="/search/" role="form">
  {{ form.csrf_token }}
    <table class="table">
        <tbody>
        
        <tr>
            <td>            
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Program</span>
                    </div>
                    {{ form.program(placeholder="program") }}
                    {% if form.program.errors %}
                      <span class="error">
                        {% for error in form.program.errors %}
                          {{ error }}
                        {% endfor %}
                      </span>
                    {% endif %}
                </div>
            </td>
            <td>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Report Type</span>
                    </div>
                    {{ form.reportType(placeholder="reportType") }}
                    {% if form.reportType.errors %}
                      <span class="error">
                        {% for error in form.reportType.errors %}
                          {{ error }}
                        {% endfor %}
                      </span>
                    {% endif %}
                 </div>
            </td>
            <td>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Severity</span>
                    </div>
                    {{ form.severity(placeholder="severity") }}
                    {% if form.severity.errors %}
                      <span class="error">
                        {% for error in form.severity.errors %}
                          {{ error }}
                        {% endfor %}
                      </span>
                    {% endif %}
                  </div>
            </td>     
        </tr>

        <tr>
        </tr>
        <tr>
            <td>
                <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">Status</span>
                </div>
                {{ form.status(placeholder="status") }}
                {% if form.status.errors %}
                <span class="error">
                    {% for error in form.status.errors %}
                        {{ error }}
                    {% endfor %}
                </span>
                {% endif %}
                </div>
            
            </td>
            <td>
                    <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Priority</span>
                    </div>
                    {{ form.priority(placeholder="priority") }}
                    {% if form.priority.errors %}
                        <span class="error">
                        {% for error in form.priority.errors %}
                            {{ error }}
                        {% endfor %}
                        </span>
                    {% endif %}
                    </div>
            </td>
            <td>
                    <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Resolution</span>
                    </div>
                    {{ form.resolution(placeholder="resolution") }}
                    {% if form.resolution.errors %}
                        <span class="error">
                        {% for error in form.resolution.errors %}
                            {{ error }}
                        {% endfor %}
                        </span>
                    {% endif %}
                    </div>
            </td>
        </tr>
        <tr>

        </tr>


        <tr>

        </tr>

        <tr>

        </tr>
        <tr>
            <td>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Functional Area</span>
                    </div>
                {{ form.areaName(placeholder="Functional Area") }}
                {% if form.areaName.errors %}
                    <span class="error">
                    {% for error in form.areaName.errors %}
                        {{ error }}
                    {% endfor %}
                    </span>
                {% endif %}
                </div>                
            </td>
            <td>
              <div class="input-group">
                   <div class="input-group-prepend">
                        <span class="input-group-text">Reported By</span>
                  </div>
                {{ form.reportedBy(placeholder="Reported By") }}
                {% if form.reportedBy.errors %}
                <span class="error">
                    {% for error in form.reportedBy.errors %}
                      {{ error }}
                    {% endfor %}
                </span>
                {% endif %}
              </div>
            </td>
            <td>
                <div class="input-group">
                  <div class="input-group-prepend">
                        <span class="input-group-text">Discovered Date:</span>
                  </div>
                    {{ form.discoveredDate(placeholder="discoveredDate") }}
                    {% if form.discoveredDate.errors %}
                    <span class="error">
                        {% for error in form.discoveredDate.errors %}
                          {{ error }}
                        {% endfor %}
                    </span>
                    {% endif %}
                </div>
            </td>
            <td>
            </td>
        </tr>
        <tr>
            <td>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Assigned To</span>
                  </div>
                {{ form.assignedTo(placeholder="Assigned To") }}
                {% if form.assignedTo.errors %}
                  <span class="error">
                    {% for error in form.assignedTo.errors %}
                      {{ error }}
                    {% endfor %}
                  </span>
                {% endif %}
                </div>
            </td>

            <td>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Resolved By</span>
                    </div>
                    {{ form.resolvedBy(placeholder="resolvedBy") }}
                    {% if form.resolvedBy.errors %}
                    <span class="error">
                        {% for error in form.resolvedBy.errors %}
                        {{ error }}
                        {% endfor %}
                    </span>
                    {% endif %}
                </div>
              </td>
            <td></td>
       
        </tr>
        <tr>
        </tr>
        <tr>

        </tr>
        </tbody>
    </table>


   <button class="btn btn-sm btn-success" type="submit">Search Bug Report</button>
  <br>
</form>
</div>
</div>
</div>
</div>
  
{% endblock %}
