{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block content %}


<div class="container">
    <div class="row align-items center justify-content-center">
        <div class="col-md-4">
            <h3>Upload file</h3>
            <div class="form-group">
              <form action = "http://localhost:5000/uploader" method = "POST" 
                 enctype = "multipart/form-data">
                 <input type = "file" name = "inputFile" />
                 <input type = "submit"/>
              </form>
            </div>
        </div>
    </div>
</div>




{% endblock %}
